.navbar{
    height: 80px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
}

.left{
    height: 100%;
    width: 10%;
    /* background-color: blue; */
    padding-top: 1vw;
    padding-left: 1vw;
}
.left h2{
    font-family:cursive;
}

.mid{
    height: 100%;
    width: 60%;
    /* background-color: blueviolet; */
    display: flex;
    /* justify-content: center; */
    align-items:center ;
    padding-left: 2vw;
}
.mid p{
    margin-left: 2vw;
    font-weight: 600;
}

.right{
    height: 100%;
    width: 30%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2vw;
}

.right p{
    margin-right: 2vw;
}

.right button{
    height:50%;
    width: 25%;
    background-color: black;
    color: white;
    border-radius: 20px;
}